#doc-nav {
    @media(max-width: 576px) {
        margin-bottom: 28px;

        a {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav-link.active {
        font-weight: 600;
    }
}

.breadcrumb-icon {
    font-size: 14px;
    color: #aaa;
    margin: 0 4px;
}

table {
    border-collapse: separate;
    border-spacing: 9px;
}

h4 {
    margin-top: 7px;
}

@media (prefers-color-scheme: dark) {

    body {
        
        background-color: #111111;

        color: #ffffff;

    }

    .header {
        
        background-color: #191919;

    }

    .page-title {

        color: #ffffff !important;

    }

    pre {

        color: #a3a3a3;

    }

    .basic {

        border-bottom: none !important;

    }

    footer {
        
        background: #191919 !important;
    
        .section {
            
            border-bottom: 1px solid #111111;
            
        }
    
    }

}