#doc-nav {
    @media(max-width: 576px) {
        margin-bottom: 28px;

        a {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav-link.active {
        font-weight: 600;
    }
}

.breadcrumb-icon {
    font-size: 14px;
    color: #aaa;
    margin: 0 4px;
}