---
layout: basic
---
<div class="container page">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar"> 
            <nav id="doc-nav" class="nav flex-column">
                {% for page in site.data.doc-nav %}
                <a href="{{ page.link | relative_url }}" class='nav-link active'>{{ page.title }}</a>
                {% endfor %}
            </nav>
        </div>
        <main class="col-12 col-md-9 col-xl-10" role="main">
            {{ content }}
        </main>
    </div>
</div>